[Unit]
Description=JAVAHvac's Python-based Raspberry PI Node Service
After=network.target

[Service]
WorkingDirectory=/home/pi/JavaHVAC-Node
ExecStart=/home/pi/JavaHVAC-Node/startNode.sh
Type=forking
User=root

[Install]
WantedBy=default.target
