#sample server configuration -- check out the yaml spec for information about formatting; however, please note that you should use spaces instead of tabs.

#The name of your building complex and/or setup. This is used for logging and UI purposes. Example: "Smith Household" or "ABC Company"
name: "Name of Building Complex"

#Local-network resolveable DNS or IP address
dns: "127.0.0.1"

#Email address that critical notifications will be sent
notificationEmail: ["sample1@example.com", "sample2@example.com"]

#A region is an area serviced by a single pump/blower/etc
regions:
    - name: house
      #A zone is associated with regions in a 1:many fashion and is controlled by a valve or switch. Each region needs at least one zone.
      zones:
        - name: hall

    - name: shop
      zones:
       - name: mill
       - name: chicken_coop

#Nodes are actors and/or sensors that talk to the server to send data and take actions. Nodes themselves are not associated with zones, however, node functions are. The purpose of having the node list here is so that the server knows what nodes to expect to connect to, and can send out warnings if they don't exist. Nodes must have DNS names or IP addresses that resolve on the local network, for that reason, if using IPs, static IPs or static DHCP is recommended.
nodes:
    - address: barn.lan
    - address: central.lan
    - address: attic.lan
    - address: idonotexist.lan

    
